{% extends "/layout/base.html" %}


{% block title %}{{detail.title}}{% endblock %}

{% block content %}
<div class="content">
    <div class="article-box">
        <h2 class="article-title">{{detail.title}}</h2>

        <div class="article-info">
            <div class="article-info">
                <a href="{{url_for('.author', author_id=detail.author.id)}}">{{detail.author.name}}</a>
                <a href="{{url_for('.dynasty')}}?dynasty_id={{detail.author.dynasty}}">〔{{detail.author.dynasty | dynasty }}〕</a>
            </div>
        </div>
        <div class="article-content">{{detail.content | content}}</div>
    </div>
</div>
{% endblock %}
